body {
    color: whitesmoke;
    font-family: Helvetica;
    font-size: 15pt;
    text-align: center;
    background-image: url('bg.jpg');
}
.mask {
    position: absolute;
    left: 375px;
    width: 25px;
    height: 550px;
    top: 120px;
    z-index: 100;
    background-color: black;
}
h1, h2, h3, h4 {margin: 0; padding: 0; }
h1 { font-size: 1.1em; }
h2 { font-size: 1.2em; }
h3, .h3 { font-size: .8em; font-weight: normal; }
p {
    text-align: center;
    margin: 0;
}

.small {width: 35px; height: 35px; }

.emphasis {
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px 0;
}

/*=============== LAYOUT ===============*/

.name-box {
    font-size: 4em;
    position: absolute;
    left: 60%;
    top: 40%;
    line-height: .77em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}
#container {
    width: 400px;
    height: 839px;
    position: relative;
    margin-left: 14%;
}
#phone-frame {
    background-color: transparent;
    background-image: url('iphone.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%; height: 100%;
}
#phone-screen {
    position: absolute;
    top: 139px;
    left: 30px;
    background-color: #444;
    background-image: url('linen.gif');
    width: 345px; height: 588px;
}
.header-bar {
    display: block;
    position: static;
    position: relative;
    height: 40px;
    padding-top: 15px;
}
.header-bar h1, .header-bar h2, .header-bar h3 {
    color: #222;
    font-size: .9em;
}
.header-bar h1, .header-bar h3 {
    display: inline;
    width: 57%;
    position: absolute;
    left: 20%; top: 35%;
    margin: 0;
    text-align: center;
    overflow: visible;
    white-space: nowrap;
}
.header-button {
    border: 1px solid rgba(0,0,0, 0.5);
    font-size: 13px;
    text-align: center;
    position: absolute;
    display: inline-block;
    width: 15%;
    top: 15%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.header-button,
.header-bar a {
    color: #222;
    text-decoration: none;
}
.back-button {
    left: 3%;
    padding: 12px 0px;
}
.now-playing {
    right: 3%;
    padding: 5px 0px;
}
.home-button {
    right: 3%;
    padding: 12px 0px;
}
#content-scroller {
    overflow: auto;
    overflow-x: hidden;
    height: 453px; 
    width: 370px;
}
#content {
    padding: 25px 19px;
    width: 305px;
}




.mixes {
    margin: 0; padding: 0;
    list-style-type: none;
    
}
.mixes li {
    margin: 0;
}
.mixes img {
   
}
.list-icon {
    width: auto; height: 15px;
    opacity: .5;
}
ul .button {
    text-align: left;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.5);
}
#content li:first-child a {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#content li:last-child a {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#content ul .button {
    margin: 0;
}

/* ============ Scrolling Selector =============*/
.scroll-container {
    position: relative;
    overflow: hidden;
    width: 80%; height: 150px;
    margin: 25px 10%;
    background-color: white;
    color: black;
    font-size: 1.6em;
    text-align: left;
    z-index: 3;
}
.scroll-highlighter {
    position: absolute;
    width: 100%; height: 33%;
    background-color: skyblue;
    opacity: .5;
    top: 32%;
    z-index: 2;
}
.scrolling-box {
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    z-index: 2;
    padding-left: 20px;
}
.hour, .minute {
    width: 50%;
    text-align: center;
    background-color: white;
    padding-left: 20px;
    position: absolute;
    margin-left: -10px;
    z-index: 1;
}
.hour {
    left: 20px;
}
.minute {
    left: 50%;
    margin-left: 0px;
    border-left: 1px solid whitesmoke;
    text-align: left;
}
.scrolling-box ul {
    list-style-type: none;
    margin: 0; padding: 0;
}
.scrolling-box li {
    display: block;
    height: 1.8em;
}
.scrolling-box li:last-child {
    height: 35px;
}
.hours li {
    border-right: 1px gray solid;
    text-align: right;
}
.minutes li {
    text-align: left;
}
.hours-label { margin-right: 30px; }
.minutes-label { margin-left: 30px; }



table {
    width: 100%;
    margin-top: 15px;
    background-color: #555;
    font-size: .9em;
    border-collapse: collapse;
    border-radius: 10px;
}
td {
    padding: 7px 5px 5px 5px;
}
.library-list tr {
    cursor: pointer;
}
.library-list input {
    margin: 0;
    width: 20px; height: 20px;
}
.settings td {
    padding: 15px 5px 12px 5px;
}
.on-off {
    width: 28%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: right top;
    font-size: .95em;
}
.on {
    background-image: url('on.png');
}
.off {
    background-image: url('off.png');
}
.details td {
    font-size: .8em;
    font-style: italic;
    opacity: .6;
    padding: 5px;
    padding-bottom: 15px;
}
.name-mix {
    width: 90%;
    height: 50px;
    font-size: 1em;
    color: lightgray;
    margin-top: 15px;
    padding: 0 10px;
}
.clicked {
    color: black;
}
.playback h1 {
    text-align: left;
    margin-left: 15px;
    margin-top: -7px;
}
.playback #content-scroller {
    height: 413px;
    position: relative;
}
.playback #content {
    width: 345px !important;
    padding: 0 !important;
}
.scrollbar {
    background-image: url('playback-bar.png');
    background-repeat: no-repeat;
    min-height: 970px;
    margin-top: 0px;
    margin-bottom: 205px;
}
.playhead {
    width: 100%; height: 3px; background-color: red;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    box-shadow: 1px 1px 2px rgba(0,0,0, .7);
    position: absolute;
    top: 250px;
    z-index: 10;
}
.controls {
    position: absolute; bottom: 0;
    width: 100%; height: 120px;
    margin-left: -1px;
    box-shadow: 0px -2px 10px rgba(0,0,0,.5);
}
.arc {
    width: 100%; height: auto;
    margin-top: 5px;
}
.volume {
    width: 200px; height: auto;
    position: absolute;
    bottom: 15px;
    left: 50%; margin-left: -100px;
}
.pp-button {
    width: 72px;
    height: 72px;
    position: absolute; top: -15px; left: 50%; margin-left: -36px;
    cursor: pointer;
}
.play {
    background-image: url('play.png');
}
.pause {
    background-image: url('pause.png');
}

/*======================= FOOTER ============================*/
#footer {
    position: absolute; bottom: 0;
    width: 100%; height: 80px;
    margin-left: -1px;
    border-top: 1px solid #333;
    box-shadow: 0px -2px 10px rgba(0,0,0,.3);
}
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#footer li {
    display: inline-block;
    width: 25%; height: 100%;
    text-align: center;
    border-left: 1px solid rgba(0,0,0, .3);
    margin-right: -1px;
}
#footer li:first-child {
    border: 0px;
}
#footer li a {
    display: inline-block;
    width: 100%; height: 100%;
    color: #222;
    text-decoration: none;
    font-size: .8em;
}
.footer-icon {
    width: 35px; height: auto;
    margin: 13px 10px 7px 10px;
}
#footer li a.selected {
color: white;
}
#footer .mixes { background-image: url('mixes.png'); }

/*=================== BUTTONS =======================*/

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 20px 0 15px 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
    margin: 20px 0;
}
.button:hover {
    background-color: darkgray;
}
.big {
    width: 100%;
    max-width: 100%;
    background-color: lightgray;
    color: black;
}
.create { width: 65%; margin-right: 5px; background-color: blue; color: white;}
.little { 
    width: 25%; 
    font-size: .8em; 
    line-height: inherit; 
    padding: 23px 0 16px 0; 
    background-color: lightgray; 
    color: black;
}
.special { color: white; }
.top{ margin-top: 10px;}
.bottom { margin-bottom: 0; }

/*==================== GRADIENTS =========================*/


/* ------ Chrome bars convex ------ */
.header-bar, .header-button, .controls, #footer li a, .button, .library-list tr {
    background-color: #f4f4f4;
    background: linear-gradient(top, #f4f4f4, #aaa);
    background: -moz-linear-gradient(top, #f4f4f4, #aaa);
    background: -webkit-linear-gradient(top, #f4f4f4, #aaa);
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%,  #f4f4f4), color-stop(100%, #aaa));
    background: -o-linear-gradient(top, #f4f4f4, #aaa);
    background: -ms-linear-gradient(top, #f4f4f4, #aaa);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f4f4f4', endColorstr='#aaa');
    color: black;
}

/* ------ Chrome bars concave ------ */

#footer li a:hover, .button:hover, .header-button:hover {
    background: linear-gradient(top, #999, #c9c9c9);
    background: -moz-linear-gradient(top, #999, #c9c9c9);
    background: -webkit-linear-gradient(top, #999, #c9c9c9);
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #999), color-stop(100%, #c9c9c9));
    background: -o-linear-gradient(top, #999, #c9c9c9);
    background: -ms-linear-gradient(top, #999, #c9c9c9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#999', endColorstr='#c9c9c9');
    color: black;
}

/* ------ Special button ------ */

.special {
background: rgb(109,179,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 44%, rgba(54,144,240,1) 61%, rgba(30,105,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(44%,rgba(84,163,238,1)), color-stop(61%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 44%,rgba(54,144,240,1) 61%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 44%,rgba(54,144,240,1) 61%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 44%,rgba(54,144,240,1) 61%,rgba(30,105,222,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 44%,rgba(54,144,240,1) 61%,rgba(30,105,222,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
color: white;
}

/* ------ Special concave ------ */


#footer li a.selected, .special:hover, .library-list tr.selected {
background: rgb(28,116,204); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(28,116,204,1) 9%, rgba(54,144,240,1) 63%, rgba(82,165,234,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(9%,rgba(28,116,204,1)), color-stop(63%,rgba(54,144,240,1)), color-stop(100%,rgba(82,165,234,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(28,116,204,1) 9%,rgba(54,144,240,1) 63%,rgba(82,165,234,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(28,116,204,1) 9%,rgba(54,144,240,1) 63%,rgba(82,165,234,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(28,116,204,1) 9%,rgba(54,144,240,1) 63%,rgba(82,165,234,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(28,116,204,1) 9%,rgba(54,144,240,1) 63%,rgba(82,165,234,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c74cc', endColorstr='#52a5ea',GradientType=0 ); /* IE6-9 */
color: white;
}
